.root {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(95, 61, 196, 0.2);
  height: 96vh;
  max-height: 96vh;

  &__toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__report {
    padding: 2vh;
    width: 80%;
    height: 96vh;
    overflow-y: auto;
  }
}
