.sidebar {
  border-radius: 5px 0 0 5px;
  width: 20vw;
  padding: 2vh;
  background-color: rgba(95, 61, 196, 0.03);

  &__new-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    width: 100%;
    margin-bottom: 2vh;
  }

  &__refresh-btn {
    width: 70%;
    height: 70%;
  }
}
