.drafts-table {
  padding: 2vh;
  width: 76vw;
  height: 96vh;
  overflow-y: auto;

  &-filters {
    display: flex;
    flex-direction: row;
    gap: 10px;

    &__status {
      width: 35%;
    }

    &__search {
      width: 65%;
    }
  }

  .mantine-Pagination-root {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    padding: 2vh;
  }
}
